body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Shape3
{
   border-width: 0;
}
#Shape4
{
   border-width: 0;
}
#Image1
{
   border: 1px #808080 double;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F5F5F5;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1
{
}
#LayoutGrid1 .col-1
{
   float: left;
}
#LayoutGrid1 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 .col-1
{
   float: none;
   width: 100%;
}
}
#Layer1
{
   background-color: #F5F5F5;
   background-image: none;
   border: 1px #808080 solid;
}
#Layer2
{
   background-color: #DCDCDC;
   background-image: none;
   border: 1px #808080 solid;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px #000000 solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   display: inline-block;
   width: 219px;
   height: 38px;
   vertical-align: top;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Layer2_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Shape4
{
   position: absolute;
   left: 340px;
   top: 181px;
   width: 78px;
   height: 24px;
   z-index: 3;
}
#wb_Text1
{
   position: absolute;
   left: 16px;
   top: 11px;
   width: 388px;
   height: 18px;
   z-index: 8;
   text-align: left;
}
#wb_Text2
{
   position: absolute;
   left: 242px;
   top: 76px;
   width: 52px;
   height: 16px;
   z-index: 7;
   text-align: left;
}
#Shape3
{
   width: 78px;
   height: 24px;
}
#wb_Image1
{
   position: absolute;
   left: 45px;
   top: 76px;
   width: 168px;
   height: 127px;
   z-index: 4;
}
#wb_Text4
{
   position: absolute;
   left: 242px;
   top: 122px;
   width: 149px;
   height: 16px;
   z-index: 5;
   text-align: left;
}
#Shape4
{
   width: 78px;
   height: 24px;
}
#Layer1
{
   position: fixed;
   text-align: center;
   left: 0;
   top: 188px;
   right: 0;
   width: 496px;
   height: 228px;
   margin-left: auto;
   margin-right: auto;
   z-index: 10;
}
#wb_Image2
{
   display: inline-block;
   width: 219px;
   height: 38px;
   z-index: 0;
}
#Layer2
{
   position: fixed;
   text-align: center;
   left: 0;
   top: 148px;
   right: 0;
   width: 496px;
   height: 39px;
   margin-left: auto;
   margin-right: auto;
   z-index: 11;
}
#wb_Text5
{
   position: absolute;
   left: 47px;
   top: 28px;
   width: 168px;
   height: 32px;
   text-align: center;
   z-index: 1;
}
#wb_Text6
{
   position: absolute;
   left: 294px;
   top: 76px;
   width: 171px;
   height: 48px;
   z-index: 2;
   text-align: left;
}
#Layer1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Shape3
{
   position: absolute;
   left: 242px;
   top: 181px;
   width: 78px;
   height: 24px;
   z-index: 6;
}
@media only screen and (max-width: 969px)
{
#wb_Text6
{
   left: 134px;
   top: 209px;
   width: 106px;
   height: 64px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   left: 70px;
   top: 266px;
   width: 149px;
   height: 16px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Shape3
{
   left: 70px;
   top: 321px;
   visibility: visible;
   display: inline;
}
#wb_Shape4
{
   left: 165px;
   top: 321px;
   visibility: visible;
   display: inline;
}
#wb_Image1
{
   left: 70px;
   top: 58px;
   width: 176px;
   height: 132px;
   visibility: visible;
   display: inline;
}
#Image1
{
   border: 1px transparent solid;
}
#wb_Text5
{
   left: 75px;
   top: 20px;
   width: 168px;
   height: 32px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   left: 70px;
   top: 209px;
   width: 52px;
   height: 16px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   font-size: 13px;
   background-color: #F5F5F5;
   background-image: none;
}
#LayoutGrid1 .col-1
{
   text-align: center;
}
#Layer1
{
   width: 318px;
   height: 380px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   background-color: #F5F5F5;
   background-image: none;
}
#Layer1_Container
{
   width: 320px;
}
#Layer2
{
   width: 318px;
   height: 49px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   background-color: #DCDCDC;
   background-image: none;
}
#Layer2_Container
{
   width: 320px;
}
#wb_Image2
{
   width: 219px;
   height: 38px;
   visibility: visible;
   display: inline-block;
}
#Image2
{
   width: 219px;
   height: 38px;
}
#wb_Text1
{
   left: 10px;
   top: 15px;
   width: 306px;
   height: 18px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
}
}
